@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Parallax Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <img class="left-align" src="~/icon_big.png" alt="Logo_Big" style="height: 330px; float: left; padding-right: 20px;">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>@localizer["Intro_Header"]</h4>
                    <p class="left-align light">@localizer["Intro_Text"]</p>
                </div>
            </div>

        </div>
    </div>



    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header left black-text text-lighten-2"><p>@localizer["Greeting"]</p></h1>
                <div class="row center">
                </div>

                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Code">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                            <h5 class="center">@localizer["Column1_Header"]</h5>

                            <p class="light">@localizer["Column1_Text"]</p>
                        </div>
                    </a>
                </div>

                <div class="col s12 m4">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CV">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                            <h5 class="center">@localizer["Column2_Header"]</h5>

                            <p class="light">@localizer["Column2_Text"]</p>
                        </div>
                    </a>
                </div>

                <div class="col s12 m4">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Hobby">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                            <h5 class="center">@localizer["Column3_Header"]</h5>

                            <p class="light">@localizer["Column3_Text"]</p>
                        </div>
                    </a>
                </div>
                <div class="col s12 m4">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PuzzleBalls">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                            <h5 class="center">@localizer["Column4_Header"]</h5>

                            <p class="light">@localizer["Column4_Text"]</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="~/background2.png" alt="Unsplashed background img 2" style="height: 770px;"></div>
    </div>




    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
    </div>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>
</html>
